@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dojo-negro: #111111;
  --dojo-rojo: #CC0000;
  --dojo-dorado: #C9A84C;
  font-family: 'Inter', system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
